{% extends "home/main.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "/css/contactdashboard.css" %}">




<div class="dashboardcontainer">
    
    <div class="dashboardcont">
        <div class="dashboardtitle">
            <span id='titleuser' >Hello, <span id='titleusername'>{{request.user}}</span> </span>
            <span>Your <b>Contact</b> Requests </span>
            <span id='titleuserout'>
                <a  href="{% url "logoutpage" %}">
                    Logout
                </a>/ 
                <a href="{% url "admindashboard" %}">
                    Booking Requests
                </a>
            </span>
        </div>
        {% for i in contacts %}
        <div class="dashboardinfo">
            <div class="infodashleft">
                <div class="clientname">
                    <p class="client-name">Client Name</p>
                    <p class="rightname">{{i.name}}</p>
                </div>
                <div class="leftcontainers clientphone">
                    <p class="leftconthead client-phone">Client Phone no:</p>
                    <p class="leftcontvalue phone">{{i.phone}} </p>
                </div>
                <div class="leftcontainers clientemail">
                    <p class="leftconthead client-email">Client Email:</p>
                    <p class="leftcontvalue email">{{i.email}} </p>
                </div>
            </div>
            <div class="infodashright">
                
                <div class="clientmessage">
                    <p class="client-message">Client Message</p>
                    <p class="rightmessage">{{i.message}} </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>





{% endblock content %}