{% load static %}

<link rel="stylesheet" href="{% static "/css/footer.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="footer-container">
    <div class='footer-ind_cont' id="aboutUs">
        <h1 class="footer-title">About Us</h1>
        <div class="footer-cont">
            <p class='footer-about-p'>
                Blueways, your go-to car
                rental company in Mirpur, Azad Kashmir. Serving you since 2020, we offer a
                diverse fleet of well-maintained vehicles, ensuring a smooth and memorable
                ride. Explore the scenic wonders of Azad Kashmir with Blueways - your trusted travel companion on the road.
            </p>
        </div>
    </div>

    <div class='footer-ind_cont' id="contactUs">
        <h1 class="footer-title">Contact Us</h1>
        <div class="footer-cont">
            <ul class="footer-lines">
                <li class="footer-line footer-line-main"><i class="footer-icon fa-solid fa-location-dot"></i><p> 1st Floor, Hafiz Qurban Plaza, sec F-2 Mirpur AK</p> </li>
                <li class="footer-line footer-line-main"><i class="footer-icon fa-regular fa-envelope"></i><a href="mailto:harisraja4545@gmail.com">harisraja4545@gmail.com</a> </li>
                <li class="footer-line footer-line-main"><i class="footer-icon fa-solid fa-phone"></i><a href="tel:+923414377703">+92 341 4377703</a> </li>
                <ul id='social' class="footer-line">
                    <li><a target='blank' href="https://web.facebook.com/bluewayshire"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a target='blank' href="https://www.instagram.com/bluewayscarhire/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a target='blank' href="https://www.tiktok.com/@blueways10?_t=8hiMQSPEGyP&_r=1"><i class="fa-brands fa-tiktok"></i></a></li>
                    <li><a target='blank' href="mailto:harisraja4545@gmail.com"><i class="fa-regular fa-envelope"></i></a></li>
                </ul>
            </ul>
        </div>
    </div>

    <div class='footer-ind_cont' id="explore">
        <h1 class="footer-title">Other Pages</h1>
        <div class="footer-cont">
                <ul class='footer-links'>
                    <li class='footer-link'>
                        <a href="/">Home</a>
                    </li>
                    <li class='footer-link'>
                        <a href="/vehicles">Vehicles</a>
                    </li>
                    <li class='footer-link'>
                        <a href="/services">Services</a>
                    </li>
                    <li class='footer-link'>
                        <a href="">About Us</a>
                    </li>
                    <li class='footer-link'>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
        </div>
    </div>
</div>
