{% load static %}

<link rel="stylesheet" href="{% static "/css/homeintro.css" %}">

<div class="homeintrocontainer">
    <div class="homeintroleft">
        <div class="homeintrotitle">
            <p class="homeintro1">Welcome To BlueWays Car Hire</p>
            <p class="homeintro2">Best Rent a Car in Mirpur A.K</p>
        </div>
        <div class="homeintroinfo">
                Looking for a reliable and diverse range of rental cars in Mirpur? Look no further 
                than our rent a car services! Whether you're looking for economy or luxury vehicles, 
                we have it all. Our extensive fleet includes popular models such as a Honda Civic, 
                Corolla, Toyota Altis Grande, Toyota LandCruiser V8, Prado, Vigo, Rivo, Alto, Cultus 
                and Many more.Our car rental services are available for both self-drive or with professional 
                drivers, providing you with a flexible and hassle-free way to explore Islamabad and beyond.
                For the Cheapest Car Rental Deals. Explore it and book online with your own choice. <br>
                Or Call us at <b>+92341-4377703</b>, <b>+92341-4377703</b> 
        </div>
    </div>
    <div class="homeintroright">
        <img src="{% static '/images/civic2018.png' %}" alt=""> 
    </div>
</div>