{% load static %}

<link rel="stylesheet" href="{% static '/css/navbar.css' %}">


<nav>
    <div class="container">
        <div class='nav_logo'>
            Logo
        </div>
        <div class='nav_items'>
            <ul class='list_items'>
                <li class='item'>
                    <a href="">Home</a>
                </li>
                <li class='item'>
                    <a href="">Vehicles</a>
                </li>
                <li class='item'>
                    <a href="">Categories</a>
                </li>
                <li class='item'>
                    <a href="">Services</a>
                </li>
                <li class='item'>
                    <a href="">About Us</a>
                </li>
                <li class='item'>
                    <a href="">Contact Us</a>
                </li>
                <li class='item'>
                    <a href="">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>