{% load static %}

<link rel="stylesheet" href="{% static '/css/navbar.css' %}">


<nav>
    <div class="navbar-container">
        <div class='navbar-nav_logo'>
            Logo
        </div>
        <div class='navbar-nav_items'>
            <ul class='navbar-list_items'>
                <li class='navbar-item'>
                    <a href="/">Home</a>
                </li>
                <li class='navbar-item'>
                    <a href="/vehicles">Vehicles</a>
                </li>
                <li class='navbar-item'>
                    <a href="">Categories</a>
                </li>
                <li class='navbar-item'>
                    <a href="">Services</a>
                </li>
                <li class='navbar-item'>
                    <a href="">About Us</a>
                </li>
                <li class='navbar-item'>
                    <a href="">Contact Us</a>
                </li>
                <li class='navbar-item'>
                    <a href="">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>