{% load static %}

<link rel="stylesheet" href="{% static '/css/navbar.css' %}">


<nav>
    <div class="navbar-container">
        <div class='navbar-nav_logo'>
            Logo
        </div>
        <div class='navbar-nav_items'>
            <ul class='navbar-list_items'>
                <li class='navbar-item'>
                    <a href="/">Home</a>
                </li>
                <li class='navbar-item'>
                    <a href="{% url "vehicles" %}">Vehicles</a>
                </li>
                <li class='navbar-item'>
                    <a href="{% url "services" %}">Services</a>
                </li>
                <li class='navbar-item'>
                    <a href="{% url "aboutus" %}">About Us</a>
                </li>
                <li class='navbar-item'>
                    <a href="{% url "contactus" %}">Contact Us</a>
                </li>
                <li class='navbar-item'>
                    <a href="">Blog</a>
                </li>
            </ul>
        </div>
        <div class="navbar-toggle">
            <button id="navbar-toggle-button">&#9776;</button>
        </div>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#navbar-toggle-button").click(function () {
            $(".navbar-nav_items ul").toggleClass("show");
        });
    });
</script>