{% extends "home/main.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static "css/services.css" %}">


<div class="servicescontainer">
    <div class="serviceshead">
        <div class="servicesheadtitle">
            <h1>Services</h1>
        </div>
        <div class="servicesheadinfo">
            <span>Reasons To Choose BlueWays Car Hire</span>
        </div>
    </div>
    <div class="servicesmain">
        <div class="servicesmaincont">
            <div class="mainconttitle">
                24/7 Services
            </div>
            <div class="maincontinfo">
                We are available 24/7 to let you rent a car at any time. You can book a car online at any time.
            </div>
        </div>
        <div class="servicesmaincont">
            <div class="mainconttitle">
                Economic
            </div>
            <div class="maincontinfo">
                Being one of the leading rent a car companies, we have got more options for you with our wide range of economy, executive, and luxury vehicles.
            </div>
        </div>
        <div class="servicesmaincont">
            <div class="mainconttitle">
                High-Quality Service
            </div>
            <div class="maincontinfo">
                Hire a car at BlueWays, our service is for everyone who is looking for online car booking in Mirpur with or without drivers. We offer monthly car rental services in Mirpur A.K and surrounding Districts.
            </div>
        </div>
        <div class="servicesmaincont">
            <div class="mainconttitle">
                Affordable Prices
            </div>
            <div class="maincontinfo">
                Despite high-quality service, you will find cars for every price bracket here. It’s a perfect platform for budget and luxury cars as well.
            </div>
        </div>
        <div class="servicesmaincont">
            <div class="mainconttitle">
                Wedding Discounts
            </div>
            <div class="maincontinfo">
                We provide special discounts on booking of cars for wedding functions
            </div>
        </div>
        <div class="servicesmaincont">
            <div class="mainconttitle">
                Friendly Service
            </div>
            <div class="maincontinfo">
                Our customer service is professional and friendly at the same time to make renting a car an easy procedure at your end. For more details call us at +92 341 1644144 .
            </div>
        </div>
    </div>
</div>


{% endblock content %}