{% load static %}
<link rel="stylesheet" href="{% static "/css/vehicles.css" %}">

<div class="vehiclepage-maincont">
    <div class="vehiclepage-heading">
        <h1>All Cars</h1>
    </div>

    <div class="vehiclepage-container">
        {% for i in cars %}
        <div class="vehicles-container">
            <div class="vehicles-picture">
                <img class='vehicles-img' src="{{i.picture.url}}" alt="">
            </div>

            <div class="vehicles-info">
                <div class="vehicles-name">
                    {{i.manufacturer}} {{i.name}} {{i.car_model}}
                </div>
                <div class="vehicles-price">
                    <p class="vehicle-rs"> Rs </p> <p class="price">{{i.price }}</p >  <p class='vehicles-perday'>/perday</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>