{% extends "home/main.html" %}
{% load static %}

{% block title %} Book {{caar.name}} {{caar.car_model}} - Blueways {% endblock title %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<link rel="stylesheet" href="{% static "/css/vehiclebooking.css" %}">

<div class="bookingcontainer">
    <div class="bookingcont">
        <div class="bookingconttitle">
            <p>Fill The Form and Our Team will Reach Out to You</p>
        </div>
        <div class="bookingcontform">
            <form action="" method='POST'>
                {% csrf_token %}
                <input name='firstname' type="text" placeholder='First Name' required>
                <input name='lastname' type="text" placeholder='Last Name' required>
                <input name='email' type="text" placeholder='Your Email'>
                <input name='phone' type="text" placeholder='Phone/Mobile Number' required>
                <input name='datefrom' type="text" placeholder='From ' id="dateFromInput" required>
                <input name='dateto' type="text" placeholder='To ' id="dateToInput" required>
                <input name='carname' type="text" placeholder='Car Name' value="{{ caar.name }}" readonly required>
                <input type="hidden" name="carType" value="{{ caar.name }}">
                <textarea class='formmsg' name='message' type="text" placeholder='If you want more than one cars for any special event then tell us'></textarea>
                <input class='formsubmit' type="submit" value='submit'>
            </form>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        flatpickr("#dateFromInput", {
        enableTime: false,
        dateFormat: "d/m/Y",
        placeholder: "From ",
        minDate: "today",
        });
    
        flatpickr("#dateToInput", {
        enableTime: false,
        dateFormat: "d/m/Y",
        placeholder: "To ",
        minDate: "today",
        });
    });
</script>
{% endblock content %}




