*{
    margin: 0;
    padding: 0;
}

.homecontainer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom,rgb(255, 255, 255), rgb(228, 227, 227));
    width: 100%;
    align-items: center;
    margin-top: 50px;
}

.home-slider-container{
    width: 100%;
    overflow: hidden;
    position: relative
}

.home-slider{
    display: flex;
    transition: transform 3s ease-in-out;
}

.home-slide {
    position: relative;
    min-width: 100%;
    height: auto;
}

.home-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.home-slide img{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.home-overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.homecontainer .homemap{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 1px black;
    width: 85vw;
    margin-bottom: 50px;
    margin-top: 30px;
}

.homemap .home-map{
    border-radius: 10px;
    width: 85vw;
}

@media (max-width: 768px) {
    .home-slide {
        min-width: 100%;
    }

    .home-overlay-text {
        font-size: 24px;
    }
}